/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generic*/   
body{
    background-color: lightgray;
    width: TODO;
    margin: 0 auto;
}

.logo{
    width: 50px;
    padding: 2px;
}

.titolo-logo{
    display: inline;
}

/*MAIN*/

header{
    margin: 2px;
    background-color: white;
    margin-bottom: 20px;
}

/*CONTAINER*/
.container{
    width: 50%;
    margin: 0 auto;
}

/*BUTTONS*/
.div-button{
    padding: 5px;
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
}

.button{
    display: inline;
    background-color: rgb(30,144,255);
    color: white;
    border: 0;
    border-radius: 8%;
    padding: 5px;
    height: 25px;
}

.button-due{
    background-color: white;
    color: black;
    border: solid 1px;
    border-color:black;
    box-sizing: border-box;
}

/*INIZIO LISTA*/
.lista{
    background-color: white;
}

h3{
    padding-bottom: 15px;
}

.freccia-giù{
    vertical-align: middle;
    font-size: 10px;
}

p{
    display: inline-block;
}

.oggetto-lista{
    line-height: 15px;
    padding-bottom: 15px;
}

.cerchietto-check{
    color: green;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: green solid 1px;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
}

.cerchietto-cross{
    color: red;
    border: red solid 1px;
}

/*ETICHETTE COLORATE*/

.etichetta-blu{
    display: inline-block;
    background-color: rgb(69,171,234);
    color: white;
    height: 20px;
    width: 60px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
}

.etichetta-viola{
    background-color: blueviolet;
}

.etichetta-verde{
    background-color: rgb(100,192,169);
}

.etichetta-arancione{
    background-color: rgb(242,158,51);
}

.etichetta-rosa{
    background-color: rgb(216,99,161);
}

.etichetta-verde-chiaro{
    background-color: rgb(189,210,74);
}

